*, *::before, *::after {box-sizing: border-box; margin: 0; padding: 0;}
html{background: linear-gradient(180deg, #191919, #242424); min-height: 100vh; border: 1px solid white;}
body {
	color: white;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	border: 1px solid yellow;
}
code {font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;}
.app-container {
	display: flex; flex-flow: column; align-items: center; justify-content: center; gap: 8px;
	width: 100%;
}
.btn {
	display: flex; justify-content: center; align-items: center;
	padding: 12px;
	min-width: 24rem;
	border-radius: 8px;
	border: 1px solid #282828;
	background-color: #242424;
}
